:root {
    --color-base: #3c455e;
    --color-light: #7284af;
    --color-lighter: #d6d4ce;
    --color-lighter-transparent: #d6d4ce66;
    --color-text: #6b6661;
    --color-text-light: #d6d4ce;
    --color-text-dark: black;

    --title-shadow: #030303 2px 2px 0px;

    --font-body: "Roboto", sans-serif;
    --font-title: "Bebas Neue", sans-serif;

    --screen-mobile: 768px;
}

body {
    background-color: var(--color-base);
    color: var(--color-text);
    font-family: var(--font-body);
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: 100%;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;

    padding-left: 50px;
    padding-right: 50px;
    width: calc(100% - 100px);
}

.header-contents {
    min-height: 100px;
    background-color: var(--color-base);

    /* Align to bottom */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-items: center;
}

.header-spacer {
    flex-grow: 1;
    min-width: 50px;
}

@media only screen and (max-width: 1000px) {
    .header-contents {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        /* min-width: 50px; */
    }

    .header-contents>* {
        padding-top: 10px;
    }
}

.page-bar {
    background-color: var(--color-light);
    height: 3px;
    width: 100vw;

    /* Shift down to prevent pixel gaps */
    margin-bottom: -1px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.nav-links>ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links>ul>li {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.nav-links>ul>li>button {
    padding: 10px;
    margin-bottom: -5px;
    margin-right: 5px;
    background-color: transparent;
    border: none;

    color: var(--color-text-light);
    font-family: var(--font-body);
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    cursor: pointer;

    /* border-left: 2px solid var(--color-text-light); */
}

.nav-links>ul>span:before {
    content: '';
    border-left: 2px solid var(--color-text);
    opacity: 30%;
    margin: 0px 10px;
    z-index: -1;
}

@media only screen and (max-width: 1000px) {
    .nav-links>ul>li>button {
        font-size: 48px;
    }
}

.nav-links>ul>li>button:hover {
    background-color: var(--color-light);
}

.nav-link-img {
    height: 32px;
    margin-bottom: -5px;
}

.subtitle {
    font-size: 150%;
}

.page-section {
    width: calc(100% - 100px);
    margin: 0px;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-section-mapbg {
    background: url(./bg_map.png);
    background-size: cover;
}

.page-section-gridbg {
    background: url(./bg_grid.png);
    background-size: cover;
}

.page-section-default {
    background-color: var(--color-base);
    color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-contents {
    margin: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--color-base);
    color: var(--color-text-light);
}

.section-title {
    color: var(--color-text-light);
    font-family: var(--font-title);
    font-weight: 400;
    font-style: normal;
    font-size: 250%;
    margin-bottom: 30px;
    text-align: center;
}

.section-title-dark {
    color: var(--color-text);
}

.horizontal-line {
    height: 2px;
    width: 35%;
    background-color: var(--color-text-light);
}

.copyright {
    margin-top: 10px;
    text-align: center;
    color: var(--color-text-light)
}

/* #region Episode */

.dm-episode {
    /* background-color: var(--color-light); */
    background: url("bg_grid.png");
    background-size: cover;
    color: var(--color-text);
    min-width: 600px;
    width: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5px;
    border-radius: 20px;
    padding: 20px;
}

.dm-episode-player {
    margin-top: 20px;
    margin-bottom: -70px;
    width: 100%;
}

.dm-episode-text {
    display: block;
    text-align: center;
    max-width: 80%;
    padding: 10px;
}

.dm-episode-links {
    display: flex;
    flex-direction: row;
}

.dm-episode-links>* {
    padding: 5px;
}

/* #endregion Episode */

/* #region Logo */

.logo {}

.logo>button {
    background-color: var(--color-base);
    border: none;
    cursor: pointer;
}

.logo>button>h1 {
    font-family: var(--font-title);
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    text-align: center;
    color: var(--color-lighter);
    text-shadow: var(--title-shadow);
    line-height: 64px;
}

/* #endregion Logo */